* {
    margin: 0;
    padding: 0;
}


/*----- tag stye -----*/
body {
    font-family: 'Jua', sans-serif;
}

header {
    height: 30px;
    background-color: rgb(255, 200, 150);

    padding-left: 30px;

    text-align: left;
    line-height: 30px;

    font-size: 20px;    
    font-weight: bold;

    top: 0px;
    position: sticky;
    
}
header p {
    color: rgb(55, 40, 30);    
}

nav {
    height: 90px;
    background: linear-gradient(-180deg,rgb(255, 200, 150), white);
    border-bottom: 1px solid rgb(255, 200, 150);

    top: 30px;
    position: sticky;
}
aside {
    margin-top: 50px;
    margin-inline: auto;

    padding-left: 100px;

    position: fixed;
    float:inline-end;
}
aside ul {
    list-style: none;
}
aside ul li {
    margin-top: 5px;
}


section {   
    margin: 0 auto;
    width: 900px; 
    padding: 50px;

    font-size: 20px;
    word-break:break-all;
}
article {
    margin: 0 auto;
}

article ul li {
    margin-left: 25px;
}



a {
    text-decoration: none;
}


/*----- id stye -----*/

#menuBar {      
    padding-top: 10px;      
    height: 80; 
    width: 755px; 
    margin: 0 auto;

}
#menuBar .menu {         
    border-left: 1px solid rgb(255,200,150);
    border-right: 1px solid rgb(255,200,150);
    margin-left: -1px;

    list-style: none;        
    float: left;               
    line-height: 80px;         
    vertical-align: middle;    
    text-align: center;   
}

#profile {
    text-align: center;
}

#canvas {
    display: block;
    margin: 0 auto;
}

/*----- class stye -----*/
.menu {
    list-style: none;     
    color: rgb(200, 150, 120);             
    display: block;            
    width: 150px;              
    font-size: 30px;           
    font-weight: bold;         
}
.menu:hover {            
    color: rgb(55, 40, 30);            
    background-color: rgb(200, 150, 120);   
}
.menu:hover .menuLink {            
    color: rgb(55, 40, 30);            
    background-color: rgb(200, 150, 120);   
}
.menu:hover .subMenu {
    display: block;
}

.menuLink {    
    color: rgb(200, 150, 120);    
}



.subMenu {
    width:150px;
    display:none;

    position:absolute;
    margin-top: 1px;
    margin-right: 1px;  

    list-style: none;
    float: left;
    
}
.subMenu li {
    width:150px;
    height: 50px;
    background: white;
    border-bottom: 1px solid rgb(200, 150, 120);
    font-size: 20px;

    line-height: 50px;   
    vertical-align: middle;       

    float: left;    
}


.image-box {
    padding: 0;
    margin: 0;
    width: 250px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 35px;
}

.image-example {    
    width: 100%;
    object-fit: cover;
}


/*----- etc -----*/


@media screen and (max-width: 1100px) {
    aside {
      display: none;
    }
  } 


@font-face {
    font-family: 'Jua', sans-serif; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */

    src: url('./jua/Jua-Regular.ttf');
   }



   :target:before{
    content: "";
    display: block;
    height: 150px;          /* fixed header 높이 만큼 부여 or 브라우저 상단에서 띄워놓기 원하는 높이 */
    margin-top: -150px;     /* 위에서 설정한 높이와 동일한 만큼을 음수로 제공 */
    visibility: hidden;
  }